/* .card {
    justify-content: flex-end;
    text-decoration:none;
    color:#000;
    background:burlywood;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    margin:1em;
} */

